@tailwind base;
@tailwind components;
@tailwind utilities;


.resume{

    text-align: center;
    align-items: center;
}

.icon{

    margin-right: 10px;
}

.main{
    background-color: #8EB4E5;
}

.no-click{
    pointer-events: none;
}